.heading{
    color:white;
    text-align: center;
}
button{
    padding: 1% 20%;
}
input[type="checkbox"],
input[type="radio"]{
    transform: scale(1.5);
}
form p{
    display:inline-block;
}
.contact-container{
    padding: 1% 0;
    width:75%;
    margin: auto;
    display: flex;
    background-color: lightgray;
    align-items: center;
    font-size:150%;
    flex-direction: column;
    border-radius: 20px;
}


@media (max-width: 430px) {
    .contact-container{
        padding: 5% 5%;
    }
    button{
        padding: 1% 25%;
    }
}