header{
    top: 0;
    position:sticky;
    text-align: center;;
    font-size: 250%;
    background-color: linen;
}
body{
    margin:0;
    height: 200vh;
    background-image: url("/Images/EldenRingCover.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color:black;
}
.container{
    text-align: center;
}
.box{
    margin: 3%;
    display: inline-block;
    width: 25%;
    height: 10%;
    background-color: lightblue;
    background-image: var(--bg);
    text-align: center;
    line-height: 25vh;
    font-size: 5vw;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    background-size: cover;
    border-width: 0.05em;
    border-style: solid;
    border-color: lightgrey;
    -webkit-text-stroke: 0.3px white;
}
.contact{
    position:absolute;
    font-size:60%;
    right:1%;
}
.contact-container{
    height:40%;
    width:60%;
    background-color: grey;
    margin:auto;
    text-align: center;
    font-size:250%;
}
.world_record{
    position:absolute;
    font-size:60%;
    left:1%;
}
.box:hover{
    transform: scale(1.1);
}
.font{
    font-family: "Playfair Display", serif;
}
table{
    border: 1px solid black;
    width:80%;
    margin:auto;
}
th, td{
    background-color: lightblue;
    border: 1px solid black;
    padding: 1%;
}
@media (max-width: 430px) {
    .box{
        margin:1%;
        width:40%;
        font-size: 6vw;
    }
    .contact{
        font-size:50%;
        bottom:5%;
    }
    .world_record{
        font-size:50%;
        bottom:5%;
    }
    header{
        font-size: 200%;
        height:15vw;
    }
    table{
        height:75%;
        width:100%;
    }
}
footer{
    color:white;
    text-align: center;
}