header{
    top: 0;
    position:sticky;
    font-size: 225%;
    background-color: darkgoldenrod;
    width:100%;
    transition: 0.3s;
    z-index: 1000;
}
header:hover{
    background-color: linen;
}
header *{
    display: inline-block;
    margin-left:5%;
    font-size: 65%;
}
body{
    margin:0;
    height: 200vh;
    background-image: url("/Images/EldenRingCover.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color:black;
}
.container{
    text-align: center;
}
.box{
    transition: 0.2s;
    background-position: center;
    margin: 3%;
    display: inline-block;
    width: 25%;
    height: 10%;
    background-color: lightblue;
    line-height: 25vh;
    font-size: 5vw;
    color: black;
    border-radius: 20px;
    background-size: cover;
    border-width: 0.05em;
    border-style: solid;
    border-color: darkgoldenrod;
    -webkit-text-stroke: 0.5px goldenrod;
}
.box:hover{
    transform: scale(1.1);
    border-color: linen;
    -webkit-text-stroke: 0.5px linen;
}
.font{
    font-family: "Playfair Display", serif;
}
table{
    border: 1px solid black;
    width:80%;
    margin:auto;
}
th, td{
    background-color: lightblue;
    border: 1px solid black;
    padding: 1%;
}
@media (max-width: 430px) {
    .box{
        width:40%;
        font-size: 1.5em;
    }
    header{
        font-size: 200%;
    }
    table{
        height:75%;
        width:100%;
    }
}
footer{
    color:white;
    text-align: center;
}