header{
    top: 0;
    position:sticky;
    text-align: center;;
    font-size: 250%;
    background-color: lightgrey;
}
body{
    height: 200vh;
    background-image: url(/Images/wzqo9olsot471.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}
.container{
    text-align: center;
}
.box{
    margin: 3%;
    display: inline-block;
    width: 25%;
    height: 10%;
    background-color: lightblue;
    background-image: var(--bg);
    text-align: center;
    line-height: 25vh;
    font-size: 5vw;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    background-size: cover;
    transition: opacity 0.2s ease;
    border-width: 0.05em;
    border-style: solid;
    border-color: lightgrey;
    -webkit-text-stroke: 0.3px white;
}
.contact{
    position:absolute;
    font-size:60%;
    right:1%;
}
.contact-container{
    height:40%;
    width:60%;
    background-color: grey;
    margin:auto;
    text-align: center;
    font-size:250%;
}
@media (max-width: 430px) {
    .box{
        margin:1%;
        width:40%;
        font-size: 6vw;
    }
    .contact{
        font-size:50%;
    }
    header{
        font-size: 200%;
        text-align:start;
    }
}

.box:hover{
    transform: scale(1.1);
}
.font{
    font-family: "Playfair Display", serif;
}
