header{
    top: 0;
    position:sticky;
    text-align: center;
    font-size: 250%;
    background-color: lightgrey;
}
body{
    height: 200vh;
    background-image: url(/Images/wzqo9olsot471.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}
.container{
    text-align: center;
}
.box{
    margin: 5%;
    display: inline-block;
    width: 20%;
    height: 10%;
    background-color: lightblue;
    background-image: var(--bg);
    text-align: center;
    line-height: 25vh;
    font-size: 6vh;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    background-size: cover;
    transition: 0.2s;
    border-width: 0.05em;
    border-style: solid;
    border-color: lightgrey;
    -webkit-text-stroke: 0.3px white;
}
@media (max-width: 600px) {
    .box{
        margin:1%;
        width:40%;
    }
}
.box:hover{
    transform: scale(1.1);
}
.sorcery:hover{
    background-image: url(/images/Raya_light.webp);
}
.boss{
    background-image: url(/images/RotBoss.webp);
}
.boss:hover{
    background-image: url(/images/PrimeBoss.webp);
}
.incantation{
    background-image: url(/images/IncantBox.webp);
}
.incantation:hover{
    background-image: url(/images/IncantDesk.webp);
}