header{
    top: 0;
    position:sticky;
    text-align: center;
    font-size: 250%;
    background-color: lightcoral;
}
body{
    height: 200vh;
    background-image: url(/Images/wzqo9olsot471.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}
.container{
    text-align: center;
}
.box{
    margin: 5%;
    display: inline-block;
    width: 20%;
    height: 10%;
    background-color: lightblue;
    background-image: var(--bg);
    text-align: center;
    line-height: 100px;
    font-size: 3.5vw;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    background-size: cover;
    transition: 0.1s;
}
.box:hover{
    transform: scale(1.1);
}
.sorcery:hover{
    background-image: url(/images/Raya_light.webp);
}