.backToHome{
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 5vw;
    background-color: lightblue;
    width:15%;
    height:15%;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: black;
}