.boss_images img{
    width: 29vw;
    height: 40vh;
    margin:0.5%;
}
div{
    display: inline-block;
    margin: 1%;
    flex-wrap:wrap;
    vertical-align: top;
    justify-content: center;
    text-align: center;
}
.boss_images p{
    word-wrap:break-word;
    width:30vw;
}
.boss_images div{
    border: 1px solid black;
}
header{
    top: 0;
    text-align: center;
    font-size: 250%;
    background-color: lightcoral;
}
body{
    margin: 0;
    padding: 0;
}